@font-face {
  font-family: chalista;
  src: url(../../css/fonts/challista/challista.ttf); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  letter-spacing: .1rem; }

body {
  font-family: "open sans", sans-serif;
  color: #4e4e4e;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f7f7f7; }

.heading-1 {
  font-family: chalista, leander-script-pro, sans-serif;
  font-size: 8.5rem;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 0; }

.navigation__list-item__link {
  font-size: 1.75rem;
  font-weight: 100; }

.container {
  display: grid;
  grid-template-rows: min-content; }

.navigation {
  grid-row: 1 / 1;
  grid-column: 1 / -1; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem; }
  .navigation__list {
    display: flex;
    list-style: none; }
    .navigation__list-item__link:link, .navigation__list-item__link:visited {
      color: #4e4e4e;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 2rem; }
