@font-face {
  font-family: chalista;
  src: url(../../css/fonts/challista/challista.ttf); }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  15% {
    transform: translateY(-3rem); }
  25% {
    transform: translateY(0); }
  35% {
    transform: translateY(-1rem); }
  45% {
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "open sans", sans-serif;
  color: #4e4e4e;
  font-weight: 75;
  line-height: 1.6;
  letter-spacing: .2rem;
  background-color: #f7f7f7; }

.heading-1 {
  font-family: chalista, leander-script-pro, sans-serif;
  font-size: 14rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 0; }

.heading-2 {
  font-family: span;
  font-size: 5rem;
  padding: 0 .3rem .2rem .3rem;
  background: linear-gradient(to top, #70cec8 35%, transparent 35%);
  font-weight: 500; }
  .heading-2::before, .heading-2::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - 1.6) * 0.5em); }

.font-medium {
  font-size: 2.4rem; }

.font-small {
  font-size: 1.6rem; }

.link-btn:link, .link-btn:visited {
  color: #4e4e4e;
  text-decoration: none;
  border-bottom: 1px solid #4e4e4e;
  padding: .1rem; }

.link-btn:hover {
  color: #70cec8;
  border-color: #70cec8;
  transform: translateY(-2px); }

.link-btn:active {
  transform: translateY(0); }

.footer {
  background-color: #4e4e4e; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 20vh; }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 65vw) minmax(6rem, 1fr);
  grid-row-gap: 1.5rem; }
  .header .navigation {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .header .introduction {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr repeat(2, 20.85rem) 1fr;
    grid-template-columns: 1fr repeat(2, 17.75rem) 1fr; }
    .header .introduction__block {
      grid-row: 1 / -1;
      grid-column: 1 / span 2; }
    .header .introduction__img {
      grid-row: 2 / span 2;
      grid-column: 2 / span 2; }
    .header .introduction__text {
      grid-row: 3 / span 1;
      grid-column: 4 / span 1;
      display: grid;
      grid-template-rows: repeat(3, max-content); }
  .header .svg-container {
    grid-row: 3 / 4;
    grid-column: 1 / -1; }

.main-container {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 175vh 75vh 85vh; }
  .main-container .section-projects {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: min-content 11.1rem 144.6rem 11.1rem;
    grid-template-columns: 1fr repeat(2, 20.5rem) 59.3rem repeat(2, 20.5rem) 1fr; }
    .main-container .section-projects__heading {
      grid-row: 1 / span 1;
      grid-column: 4 / span 1; }
    .main-container .section-projects__block {
      grid-row: 2 / span 3;
      grid-column: 2 / span 2; }
    .main-container .section-projects__cards {
      grid-row: 3 / span 1;
      grid-column: 3 / span 3;
      display: grid;
      grid-template-rows: repeat(3, 41.7rem);
      grid-row-gap: 9.75rem; }
  .main-container .section-resume {
    grid-row: 2 / span 1;
    grid-column: 1 / -1; }
  .main-container .section-contact {
    grid-row: 3 / span 1;
    grid-column: 1 / -1; }

.footer {
  grid-row: 3  / 4;
  grid-column: 1 / -1; }

.introduction__block {
  background-color: #e4eded;
  content: "";
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%; }

.introduction__img {
  width: 100%; }

.introduction__text {
  display: flex;
  justify-items: start;
  padding-left: 3rem; }
  .introduction__text__heading {
    margin-bottom: 1.5rem; }
  .introduction__text__paragraph {
    margin-bottom: 2.7rem;
    width: 45rem; }

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0; }
  .svg-container .down-arrow {
    fill: #989898;
    width: 6rem;
    height: 6rem;
    animation: bounce 2s infinite; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem; }
  .navigation__list {
    display: flex;
    list-style: none; }
    .navigation__list-item__link {
      display: block; }
      .navigation__list-item__link:link, .navigation__list-item__link:visited {
        color: #4e4e4e;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 2rem; }
      .navigation__list-item__link:hover {
        color: #989898;
        transform: translateY(-2px); }
      .navigation__list-item__link:active {
        transform: translateY(0); }

.section-projects {
  display: flex; }
  .section-projects__heading {
    justify-self: center;
    margin: 7rem 0; }
  .section-projects__block {
    background-color: #e4eded; }
  .section-projects__cards {
    background-color: peachpuff; }
    .section-projects__cards .project-card {
      background-color: white; }

.section-resume {
  background-color: plum; }

.section-contact {
  background-color: #fff; }
