// COLORS
$color-white: #fff;
$color-background: #f7f7f7;
$color-text-dark: #4e4e4e;
$color-text-light: #989898;

$color-primary: #e4eded;
$color-primary-dark: #e4ededb4;
$color-accent: #70cec8;
$color-accent-dark: #56a09b;


// FONTS
$font-primary: 'open sans', sans-serif;
$font-heading: span;
@font-face {
    font-family: challista;
    src: url(./fonts/challista/challista.ttf);
}

//FONT-SIZE
$font-size-xlarge: 14rem;
$font-size-large: 5rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.6rem;


//RESPONSIVE BREAKPOINTS
$bp-1800: 112.5em;  //1800px / 16px
$bp-1700: 106.25em;  //1700px / 16px
$bp-1600: 100em; 
$bp-1500: 93.75em;  
$bp-1400: 87.5em;  
$bp-1300: 81.25em;  
$bp-1200: 75em; 
$bp-1100: 68.75em;
$bp-1050: 65.62em;
$bp-900: 56.25em;
$bp-775: 48.43em;
$bp-420: 26.25em;
