.introduction {
    justify-items: center;

    &__block {
        background-color: $color-primary;
        content: "";
        background-size: cover;
        display: block;
        height: 100%;
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__text {
        display: flex;
        justify-items: start;
        padding-left: 5rem;

        @media only screen and (max-width: $bp-900) {
            padding-left: 0;
            justify-items: center;
            align-items: center;
            margin-top: 10rem;
        }

        &__heading {
            margin-bottom: 1.5rem;
        }
        
        &__paragraph {
            margin-bottom: 2.7rem;
            width: 45rem;

            @media only screen and (max-width: $bp-900) {
                text-align: center;
                width: 35rem;
            }
        }
    }
}

.down-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .down-arrow {
        fill: $color-text-light;
        width: 6rem;
        height: 6rem;
        animation: bounce 2s infinite;
    }

    @media only screen and (max-width: $bp-900) {
        margin-bottom: 5rem;

        .down-arrow {
            width: 4rem;
            height: 4rem;
        }

    }
}

