.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;

    @media only screen and (max-width: $bp-1100) {
        margin-top: 10rem;
    }

    @media only screen and (max-width: $bp-1050) {
        margin-top: 3rem;
    }

    &__list {
        display: flex;
        list-style: none;

        @media only screen and (max-width: $bp-1050) {
            margin: 0 auto;
        }

        &-item {

            &__link {
                display: block;

                &:link,
                &:visited {
                    color: $color-text-dark;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 1.5rem 2rem;
                }

                &:hover {
                    color: $color-text-light;
                    transform: translateY(-2px);
                }

                &:active {
                    transform: translateY(0);
                }
            }
            
        }
    }

}
