@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-5rem);
    }
    25% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(-3rem);
    }
    45% {
        transform: translateY(0);
    }
}