*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% 1rem = 10px
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-1800) {
        font-size: 58%;
    }

    @media only screen and (max-width: $bp-1700) {
        font-size: 54%;
    }

    @media only screen and (max-width: $bp-1600) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-1500) {
        font-size: 46%;
    }

    @media only screen and (max-width: $bp-1400) {
        font-size: 44%;
    }

    @media only screen and (max-width: $bp-1300) {
        font-size: 40%;
    }

    @media only screen and (max-width: $bp-1200) {
        font-size: 38%;
    }

    @media only screen and (max-width: $bp-1100) {
        font-size: 36%;
    }

    @media only screen and (max-width: $bp-1050) {
        font-size: 34%;
    }

    @media only screen and (max-width: $bp-900) {
        font-size: 44%;
    }

    // @media only screen and (max-width: $bp-775) {
    //     font-size: 44%;
    // }

    @media only screen and (max-width: $bp-500) {
        font-size: 34%;
    }

    @media only screen and (max-width: $bp-475) {
        font-size: 30%;
    }

    @media only screen and (max-width: $bp-420) {
        font-size: 28%;
    }

    @media only screen and (max-width: $bp-380) {
        font-size: 26%;
    }

    @media only screen and (max-width: $bp-350) {
        font-size: 24%;
    }

    @media only screen and (max-width: $bp-325) {
        font-size: 22%;
    }
}

body {
    font-family: $font-primary;
    color: $color-text-dark;
    font-weight: 75;
    line-height: 1.6;
    letter-spacing: .2rem;
    background-color: $color-background;
}