.heading-1 {
    font-family: chalista, leander-script-pro, sans-serif;
    font-size: $font-size-xlarge;
    line-height: 1;
    font-weight: 100;
    letter-spacing: 0;
}

.navigation__list-item__link {
    font-size: $font-size-medium;
    font-weight: 100;
}