.heading-1 {
    font-family: challista, leander-script-pro, sans-serif;
    font-size: $font-size-xlarge;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0;
}

.heading-2 {
    @include lineHeightCrop(1.6);
    font-family: $font-heading;
    font-size: $font-size-large;
    padding: 0 .3rem .2rem .3rem;
    background: linear-gradient(to top, $color-accent 35%, transparent 35%);
    font-weight: 500;
}

.heading-3,
.font-medium {
    font-size: $font-size-medium;
    font-weight: 500;
}

.font-small {
    font-size: $font-size-small;
    font-weight: 500;
}