.section-projects {
    display: flex;

    &__heading {
        justify-self: center;
        margin: 7rem 0;
    }

    &__block {
        background-color: $color-primary;
    }

    &__cards {
        background-color: peachpuff;

        .project-card {
            background-color: white;
        }
    }
}

.section-resume {
    background-color: plum;
}

.section-contact {
    background-color: $color-white;
}